[submodule "openqa_blog/themes/beautiful-jekyll"]
	path = openqa_blog/themes/beautiful-jekyll
	url = https://github.com/daattali/beautiful-jekyll.git
[submodule "openqa_blog/themes/beautifulhugo"]
	path = openqa_blog/themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
